body{
  background-color: #FFF6F2;
  padding: 2%;
  font-family: Garamond;
}

a{
  color: #8A3033;
}

a:hover {
  color: #090C02;
}

a:active{

}

.portLink{
  color: #8A3033;
}
.portLink:hover{
  color: #090C02;
}
.portLink:active{
  color:#ffffff;
}

#about{
  width:30%;
  padding-right:4%;
  float: left;
  text-align: center;
  /* font-family: Garamond; */
  /* Didot */
}

#headshot{
  width: 30%;
  border-radius: 100%;
}

#name{
  font-size: 22pt;
}

#bio{
  font-size: 14pt;
  margin: auto;
}

#space{

}

#nav{
  color: black;
}

.LI{
  width: 20px;
  padding: 10px;
}

.link{
  width: 17px;
  padding: 10px;
}

#copyright{
  font-size: 12px;
  position: fixed;
  bottom: 10;
  right: 10;
}

.verticalLine{
  border-right: 2px solid;
  height:100%;
  padding-left: 1%;
  float: left;
}

#body{
  width: 57%;
  padding-left: 4%;
  float: left;
}

#title{
  font-size: 30pt;
  text-align: center;
}
